<!-- StudentList.razor -->
@page "/studentlist"

@using BlazorApp1.Models
@inject StudentService StudentService

<h3>Student List</h3>

<table>
    <thead>
        <tr>
            <th>Student_Name</th>
            <th>Student_DOB</th>
            <th>Student_Age</th>
            <th>Student_Gender</th>
            <th>Student_Mobile</th>
            <th>Student_Address</th>
        </tr>
    </thead>
    <tbody>
       
            @foreach (var student in students)
            {
                <tr>
                    <td>@student.StudentName</td>
                    <td>@student.StudentDob</td>
                    <td>@student.StudentAge</td>
                    <td>@student.StudentGender</td>
                    <td>@student.StudentMobile</td>
                    <td>@student.StudentAddress</td>
                </tr>
            }
      
    </tbody>
</table>

@code {
   List<StudentTable> students = new List<StudentTable>();


   protected override async Task OnInitializedAsync()
{
    try
    {
        students = await StudentService.GetStudentDataAsync();
        Console.WriteLine($"Number of records fetched: {students.Count}");
    }
    catch (Exception ex)
    {
        Console.WriteLine($"Error fetching data: {ex.Message}");
    }
}

}
